@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.slick-slide > div {
  margin: 0 5px;
}

.custom-dots li.slick-active div {
  background-color: #115e59;
  transform: scale(1.3);
  transition: all 0.3s ease
}

.custom-dots li div {
  background-color: #cbd5e1;
  transition: all 0.3s ease;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
